{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>PricesMap{% block title %}{%endblock %}</title>

		<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}"/>
		<style>
			/* ensure the content is not under the top bar */
			body { padding-top: 60px; }
		</style>

		{% block extraHead %}{% endblock %}
	</head>
	<body>
		<div class="navbar navbar-fixed-top navbar-inverse">
			<div class="navbar-inner">
				<div class="container">
					<a href="/" class="brand">PricesMap</a>
					<ul class="nav">
						{% block menu %}
						{% endblock %}
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>
