{% extends 'base.html' %}
{% block content %}
<h1 class="text-right">A propos de PricesMap</h1>
	<h3>Pourquoi PricesMap ?</h3>
	<p>L'idée m'est venue après divers appels sur Twitter : un particulier dans le sud de la France, puis la mairie de Paris à
	propos du prix du café.</p>
	<p>Aujourd'hui, certains produits largement distribués voient leur prix fluctuer énormément et il est souvent dur de savoir
	où aller pour ne pas se faire avoir.</p>

	<h3>Comment ça marche ?</h3>
	<p>Vous choisissez le produit qui vous intéresse <a class="reference external" href="/">ici</a> et vous avez alors accès à la carte des prix de ce produit.</p>
	<p>Pour ajouter un emplacement à la carte , cliquez simplement là où vous voulez placer le marqueur et renseignez le
	formulaire.</p>
{% endblock %}
